body {
    padding: 0;
    margin: 0;
}

.glitch {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('194802.jpg');
    background-size: cover;
    animation: animate .2s infinite ease-in-out;
}

.glitch h1 {
    font-family: 'Ubuntu';
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glitch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('194802.jpg');
    background-size: cover;
    mix-blend-mode: hard-light;
}

@keyframes animate {

    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    10% {
        background-position: 4px 0;
    }
    20% {
        background-position: -4px 0;
    }
    30% {
        background-position: 12px 0;
    }
    40% {
        background-position: -16px 0;
    }
    50% {
        background-position: -24px 0;
    }
    60% {
        background-position: -52px 0;
    }
    70% {
        background-position: 0 22px;
    }
    80% {
        background-position: -40px -10px;
    }
    100% {
        background-position: 0 0;
        filter: hue-rotate(360deg);
    }
}